@model IEnumerable<Temperature>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @foreach (var temperature in Model)
    {
        <div>
            <strong>@temperature.City</strong>
            <span>@temperature.Degree</span>
        </div>
        <hr/>
    }
</div>